/* styling my name */




/* styling the nav bar */

.headerbar {

	display: inline-block;
	width: 100%;
	margin: 0px;
	background-color: white;
    

}

h1 {

	float: left;
	margin-left: 50px;
	background-color: teal;
	color: white;

}

ul {

		padding: 10px;
		background-color: white;

}


li {

	float: right;
	padding: 10px;
	list-style: none;
	margin-right: 5%;

	}
li a {

	color: teal;
}

a:visited {

	color: teal;
}

li a:hover:not(.active) {
    background-color: lightgray;
    padding: 12px;
}



/*--styling the body */

.aboutme {
    background-color: white;
    width:45%;
    height: 45%;
    padding: 25px;
    margin: 50px;
    margin-left: 150px; 
    float: left;
}

.contact {


	background-color: white;
    width:45%;
    height: 45%;
    padding: 25px;
    margin: 50px;
    margin-left: 50px; 
    float: left;
    color: teal;


}

/*Styling the image div*/

.images {
    background-color: white;
    width:44%;
    padding: 23px;
    float: left;
    margin-left: 80px;
    padding-top: 50px;
    margin-top: 50px;
   margin-bottom: 10px;
}


.floating-pic {
    float: left;
    width: 42%;
    margin: 10px;
    border: 3px solid white;  

}	





/* styling the contact page*/

#message {

	padding: 25%;
	width: 27%;
}




img {
	height: 50%;
	width: 50%;
	position: ;
	float: left;
	margin: 10px;
	opacity: 0.5px;
}

h3 {
	font: arial;
	color: teal;
	font-size: 20px;
	font-family: arial;
	}

p {
	text-indent: 10px;
	color: teal;
	font-family: arial;
}


/* Icons with links for contact info */
.links {

	background-color: white;
	width: 20%;
	padding: 40px;
	position: relative;
	float: right;
	margin-top: 48px;
	margin-right: 100px;
}

.fb {

	height: 40px;
	width: 40px;
	
}

.twitter {

	height: 40px;
	width: 40px;

}

.github {

	height: 40px;
	width: 40px;


}


body {
	background-color: lightgray;
	margin: 0px;
	
}

 h4 {

	position: absolute;
	color: white;
	font-size: 30px;
	background-color: teal;
	padding: 5px 10px 5px 10px;
	margin-left: 10px;
	font-family: arial;
}



footer {

	clear: both;
	padding: 15px;
	background-color: darkgrey;
	text-align: center;
	font-size: 20px;
}

@media only screen and (max-width: 980px) {
    body {
        background-color: lightblue;
    	}

     .links {

    	width: 20%;
    	float: right;
    	margin-right: 80px;

			}

	/* Media Query for contact page*/			

    .contact {

    	float: left;
    	width: 42%;

    		}

    /* Media Query for About page*/

    .aboutme {

    	float: left;
    	width: 35%;
    	margin-left: 100px;
		
    }

/* Media Query for Portfolio*/

    .images{

    	float: left;
    	width: 40%;
    	margin-left: 100px;
		
    }

   .floating-pic {

   	width: 90%;
   }


}


/* Media Query for responsive design*/


@media only screen and (max-width: 768px) {
    body {
        background-color: teal;
    }


     .links {

    	width: 81%;
    	float: left;
    	margin-top: 0px;
    	padding: 20px;
    	margin-left: 50px;
    	margin-bottom: 5px;
    		}

    .contact {

    	width: 80%;
    }


     .aboutme {
		
		width: 80%;
		margin: 60px;
    }


.images{

    	float: left;
    	width: 80%;
    	margin-left: 50px;
		
    }

    .floating-pic {

   	width: 45%;
   
   }


   
}




@media only screen and (max-width: 640px) {
    body {
        background-color: orange;
    }

    /* Media Query for the Contact page 640px */

    .links {

    	width: 65%;
    	float: left;
    	padding:10px;
    	margin-left: 80px;
    	margin-bottom: 5px;
    }

    .contact {

    	width: 60%;
    	margin-bottom: 5px;
    	margin-left: 80px;
    }


	h1 {

		width: 100%;
		text-align: center;
		margin: 0px;
	}


    

    ul {
		
		margin-right: 200px;
		text-align: center;
		display: flex;
		margin-left: 120px;
		padding: 0px 20px 0px 20px;
    }

   



    /* Media Query for About page*/

    .aboutme {
		
		width: 58%;
		margin: 60px;
		margin-left: 80px;
    }


    /* Media Query for Portfolio */


.images{

    	float: left;
    	width: 60%;
    	margin-left: 80px;
		
    }

	.floating-pic {

   	width: 90%;
   }


    }










